In [1]:
import pandas as pd

In [4]:
temp = pd.read_csv("split_9.csv")
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31670 entries, 0 to 31669
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   createdAtBlockNumber    31670 non-null  int64
 1   createdAtTimestamp      31670 non-null  object
 2   id                      31670 non-null  object
 3   reserve0                31670 non-null  float64
 4   reserve1                31670 non-null  float64
 5   reserveETH              31670 non-null  float64
 6   reserveUSD              31670 non-null  float64
 7   totalSupply             31670 non-null  float64
 8   txCount                 31670 non-null  int64
 9   reserve00               31670 non-null  float64
 10  reserve11               31670 non-null  float64
 11  token0.id               31670 non-null  object
 12  token0.name             31667 non-null  object
 13  token0.symbol           31669 non-null  object
 14  token0.totalLiquidity   31670 non-null  float64
 15  token0.txCount          31670 non-null  int64
 16  token1.id               31670 non-null  object
 17  token1.name             31670 non-null  object
 18  token1.symbol           31669 non-null  object
 19  token1.totalLiquidity   31670 non-null  float64
 20  token1.txCount          31670 non-null  int64
 21  token00.id              31670 non-null  object
 22  token00.name            31667 non-null  object
 23  token00.symbol          31668 non-null  object
 24  token00.totalLiquidity  31670 non-null  float64
 25  token00.txCount         31670 non-null  int64
 26  token11.id              31670 non-null  object
 27  token11.name            31670 non-null  object
 28  token11.symbol          31670 non-null  object
 29  token11.totalLiquidity  31670 non-null  float64
 30  token11.txCount         31670 non-null  int64
dtypes: float64(11), int64(6), object(14)
memory usage: 7.5+ MB